<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analisa Perubahan Garis Pantai Kelurahan Kohod, Kabupaten Tangerang</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/comparisonStyle2.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">Analisa Perubahan Garis Pantai Kelurahan Kohod, Kabupaten Tangerang</div>
        <div class="sidebar-content">
            <div class="sidebar">
                <div class="sidebar-group" id="dashboard" data-url="{{ url_for('dashboard') }}">
                    <img src="{{ url_for('static', filename='assets/dashboard.png') }}">
                    Dashboard
                </div>

                <div class="sidebar-group" id="detail" data-url="{{ url_for('detail') }}">
                    <img src="{{ url_for('static', filename='assets/detail.png') }}">
                    Detail
                </div>

                <div class="sidebar-group" id="comparison" data-url="{{ url_for('comparison2') }}">
                    <img src="{{ url_for('static', filename='assets/compare.png') }}">
                    Perbandingan Garis
                </div>

                <div class="sidebar-group" id="prediction" data-url="{{ url_for('predict', satelit='sentinel') }}">
                    <img src="{{ url_for('static', filename='assets/prediction.png') }}">
                    Prediksi Baru
                </div>
            </div>

            <div class="main-content">
                <div class="side-container">
                    <span id="title">Pilih Rentang Tahun</span>
                    <form class="input" method="POST" action="/comparison2">
                        <div class="start-year">
                            <label for="startYear_select">Tahun Awal:</label>
                            <div class="select-menu">
                                <select name="startYear_select" id="startYear_select" class="select-btn">
                                    {% for year in start_years %}
                                        <option value="{{ year }}"
                                            {% if year == selected_start %}selected{% endif %} class="option">
                                            {{ year }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        
                        <div class="end-year">
                            <label for="endYear_select">Tahun Akhir:</label>
                            <div class="select-menu">
                                <select name="endYear_select" id="endYear_select" class="select-btn">
                                    {% for year in end_years %}
                                        <option value="{{ year }}"
                                            {% if year == selected_end %}selected{% endif %} class="option">
                                            {{ year }} 
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        
                        <input type="submit" value="Submit" class="submit">

                        {% if error %}
                        <p style="color: red;">{{ error }}</p>
                        {% endif %}
                    </form>

                    <div class="button-mean-all {% if show_segment != 'show' %}hidden{% endif %}">
                        <span id="mean">Rata-Rata</span>
                        <span id="all">Keseluruhan</span>
                    </div>

                    <div class="perubahan-daerah hidden">
                        <span id="title-perubahan">Analisis Perubahan Daerah</span>

                        <div class="perubahan-group">
                            <span id="periode">{StartDate} - {EndDate}</span>
                            <div class="deskripsi-group">
                                <span id="deskripsi">Perbandingan dengan </span>
                                <span>{StartDate-1} - {EndDate-1}</span>
                            </div>
                            <div class="akresi-group">
                                <span>Akresi Daerah:</span>
                                <span>xx</span>
                            </div>

                            <div class="abrasi-group">
                                <span>Abrasi Daerah:</span>
                                <span>xx</span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="images-container {% if show_segment != 'show' %}hidden{% endif %}">
                    <img src="{{url_for('static', filename='assets/compare/predictionAvg.png')}}" class= "garis-pantai-img" id="garisPantaiAvg" alt="Garis Pantai Average">
                    <img src="{{url_for('static', filename='assets/compare/predictionAll.png')}}" class="garis-pantai-img hidden" id="garisPantaiAll" alt="Garis Pantai All">
                </div>
            </div>
        </div>
    </div>

</body>

</html>

<script>
/*side bar */
document.querySelectorAll('.sidebar-group').forEach(item => {
    item.addEventListener('click', () => {
        const url = item.getAttribute('data-url');
        window.location.href = url;
    });
});

// === Mean button ===
function setDefaultMean() {
    document.getElementById("mean").classList.add("active");
    document.getElementById("garisPantaiAvg").classList.remove("hidden");
    document.getElementById("garisPantaiAll").classList.add("hidden");
    document.getElementById("all").classList.remove("active");
}

setDefaultMean();
const meanBtn = document.getElementById("mean");
const allBtn = document.getElementById("all");
const curImage = document.querySelector(".curImage");
const garisPantaiAll = document.getElementById("garisPantaiAll");
const garisPantaiAvg = document.getElementById("garisPantaiAvg");

meanBtn.addEventListener("click", () => {
    meanBtn.classList.add("active");
    garisPantaiAll.classList.add("hidden");
    garisPantaiAvg.classList.remove("hidden");
    allBtn.classList.remove("active");
});

allBtn.addEventListener("click", () => {
    allBtn.classList.add("active");
    garisPantaiAll.classList.remove("hidden");
    garisPantaiAvg.classList.add("hidden");
    meanBtn.classList.remove("active");
});
</script>