<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analisa Perubahan Garis Pantai Kelurahan Kohod, Kabupaten Tangerang</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/comparisonStyle.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">Analisa Perubahan Garis Pantai Kelurahan Kohod, Kabupaten Tangerang</div>
        <div class="sidebar-content">
            <div class="sidebar">
                <div class="sidebar-group" id="dashboard" data-url="{{ url_for('dashboard') }}">
                    <img src="{{ url_for('static', filename='assets/dashboard.png') }}">
                    Dashboard
                </div>

                <div class="sidebar-group" id="detail" data-url="{{ url_for('detail') }}">
                    <img src="{{ url_for('static', filename='assets/detail.png') }}">
                    Detail
                </div>

                <div class="sidebar-group" id="comparison" data-url="{{ url_for('comparison') }}">
                    <img src="{{ url_for('static', filename='assets/compare.png') }}">
                    Perbandingan Garis
                </div>

                <div class="sidebar-group" id="prediction" data-url="{{ url_for('predict') }}">
                    <img src="{{ url_for('static', filename='assets/prediction.png') }}">
                    Prediksi Baru
                </div>
            </div>

            <div class="main-content">
                <div class="side-container">
                    <span id="title">Pilih Rentang Tahun</span>
                    <form class="input">
                        <div class="start-year">
                            <span>Tahun Awal:</span>
                            <div class="select-menu">
                                <div class="select-btn">
                                    <span class="sBtn-text">Pilih Tahun</span>
                                    <i class="bx bx-chevron-down"></i>
                                </div>
                                <ul class="options">
                                    <li class="option">
                                        <span class="option-text" data-value="2013">2013</span></li>
                                    <li class="option">
                                        <span class="option-text" data-value="2014">2014</span></li>
                                    <li class="option">
                                        <span class="option-text" data-value="2015">2015</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-value="2016">2016</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-value="2017">2017</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-value="2018">2018</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-value="2019">2019</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-value="2020">2020</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-value="2021">2021</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-value="2022">2022</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-value="2023">2023</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-value="2024">2024</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="end-year">
                            <span>Tahun Akhir:</span>
                            <div class="select-menu">
                                <div class="select-btn">
                                    <span class="sBtn-text">Pilih Tahun</span>
                                    <i class="bx bx-chevron-down"></i>
                                </div>
                                <ul class="options">
                                    <li class="option">
                                        <span class="option-text" data-value="2013">2013</span></li>
                                    <li class="option">
                                        <span class="option-text" data-value="2014">2014</span></li>
                                    <li class="option">
                                        <span class="option-text" data-value="2015">2015</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-value="2016">2016</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-value="2017">2017</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-value="2018">2018</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-value="2019">2019</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-value="2020">2020</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-value="2021">2021</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-value="2022">2022</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-value="2023">2023</span>
                                    </li>
                                    <li class="option">
                                        <span class="option-text" data-value="2024">2024</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <button class="submit">
                            Submit
                        </button>
                    </form>

                    <div class="button-mean-all hidden">
                        <span id="mean">Rata-Rata</span>
                        <span id="all">Keseluruhan</span>
                    </div>

                    <div class="perubahan-daerah hidden">
                        <span id="title-perubahan">Analisis Perubahan Daerah</span>

                        <div class="perubahan-group">
                            <span id="periode">{StartDate} - {EndDate}</span>
                            <div class="deskripsi-group">
                                <span id="deskripsi">Perbandingan dengan </span>
                                <span>{StartDate-1} - {EndDate-1}</span>
                            </div>
                            <div class="akresi-group">
                                <span>Akresi Daerah:</span>
                                <span>xx</span>
                            </div>

                            <div class="abrasi-group">
                                <span>Abrasi Daerah:</span>
                                <span>xx</span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="images-container hidden">
                    <span class="curImage"></span>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

<script>
/*side bar */
document.querySelectorAll('.sidebar-group').forEach(item => {
    item.addEventListener('click', () => {
        const url = item.getAttribute('data-url');
        window.location.href = url;
    });
});

// === Dropdown Universal ===
document.querySelectorAll(".select-menu").forEach(menu => {

    const selectBtn = menu.querySelector(".select-btn");
    const sBtn_text = menu.querySelector(".sBtn-text");
    const options = menu.querySelectorAll(".option");

    selectBtn.addEventListener("click", () => {
        menu.classList.toggle("active");
    });

    options.forEach(option => {
        option.addEventListener("click", () => {
            const text = option.querySelector(".option-text");
            sBtn_text.innerText = text.innerText;
            menu.classList.remove("active");
        });
    });

});

// === Mean button ===
function setDefaultMean() {
    document.getElementById("mean").classList.add("active");
    document.getElementById("all").classList.remove("active");
    document.querySelector(".curImage").innerText += "\nmean";
}

const meanBtn = document.getElementById("mean");
const allBtn = document.getElementById("all");
const curImage = document.querySelector(".curImage");

meanBtn.addEventListener("click", () => {
    meanBtn.classList.add("active");
    allBtn.classList.remove("active");
    curImage.innerText += "\nmean";
});

allBtn.addEventListener("click", () => {
    allBtn.classList.add("active");
    meanBtn.classList.remove("active");
    curImage.innerText += "\nall";
});


// === Submit behavior ===
document.querySelector(".submit").addEventListener("click", function (e) {
    e.preventDefault();

    const startYear = document.querySelector(".start-year .sBtn-text").innerText;
    const endYear = document.querySelector(".end-year .sBtn-text").innerText;

    if (startYear === "Pilih Tahun" || endYear === "Pilih Tahun") {
        alert("Invalid Input. Isi kedua input.");
        return;
    }

    else if (startYear === endYear) {
        alert("Invalid Input. Tahun awal harus berbeda dari tahun akhir.");
        return;
    }

    else if (startYear > endYear) {
        alert("Invalid Input. Tahun awal tidak boleh lebih besar dari tahun akhir.");
        return;
    }

    // === Tampilkan bagian yang tersembunyi ===
    document.querySelector(".button-mean-all").classList.remove("hidden");
    document.querySelector(".perubahan-daerah").classList.remove("hidden");
    document.querySelector(".images-container").classList.remove("hidden");

    // === Update teks ===
    document.querySelector(".curImage").innerText = 
        `Periode dipilih: ${startYear} - ${endYear}`;

    document.querySelector("#periode").innerText = 
        `${startYear} - ${endYear}`;

    document.querySelector(".deskripsi-group span:nth-child(2)").innerText =
        `${startYear - 1} - ${endYear - 1}`;
    
    // === SET DEFAULT STATE (MEAN) ===
    setDefaultMean();
});
</script>