* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    padding: 12px;
    height: 20px;
    text-align: center;
}

.sidebar-content {
    display: flex;
    flex: 1;
}

.sidebar {
    background-color: #103A5E;
    color: white;
    padding: 10px;
    width: 270px;
}

.sidebar-group {
    display: flex;
    padding: 12px;
    column-gap: 10px;
    cursor: pointer;
}

#detail {
    background-color: #808D92;
    border-radius: 5px;
}

.main-content {
    width: 100%;
    display: flex;
    text-align: center;
    border-top: 1px solid #808D92;
}

.side-container {
    padding: 10px;
    width: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-menu {
    width: 200px;
}

.select-menu .select-btn {
    display: flex;
    background: #fff;
    padding: 10px;
    font-weight: 600;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #103A5E;
}

.select-btn i {
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.options .option:hover {
    background: #F2F2F2;
}

.option .option-text {
    color: #103A5E;
}

.button-prediksi-garis {
    display: flex;
    font-size: small;
}

.button-prediksi-garis span {
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

span#prediksi {
    background-color: #103A5E;
    color: white;
    border-radius: 7px;
}