* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0px;
    overflow-y: scroll;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    max-width: 1280px;
}

.header {
    padding: 12px;
    height: 20px;
    text-align: center;
}

.sidebar-content {
    display: flex;
    flex: 1;
}

.sidebar {
    background-color: #103A5E;
    color: white;
    padding: 10px;
    width: 270px;
}

.sidebar-group {
    display: flex;
    padding: 12px;
    column-gap: 10px;
    cursor: pointer;
}

#dashboard {
    background-color: #808D92;
    border-radius: 5px;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid #808D92;
}

.content-title {
    padding: 5px;
    font-size: x-large;
}

.pilih-garis {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    border-bottom: 1px solid #808D92;
}

.garis-group {
    padding: 5px 40px 5px 40px;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}

.garis-group:hover {
    background-color: #d0dbe3;
}

.garis-group.active {
    background-color: #103A5E;
    color: white;
}

.img-garis {
    margin-top: 20px;
    text-align: center;
}

.img-garis img {
    max-width: 100%;
    max-height: 80vh;

}