* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    padding: 12px;
    height: 20px;
    text-align: center;
}

.sidebar-content {
    display: flex;
    flex: 1;
}

.sidebar {
    background-color: #103A5E;
    color: white;
    padding: 10px;
    width: 270px;
}

.sidebar-group {
    display: flex;
    padding: 12px;
    column-gap: 10px;
    cursor: pointer;
}

#prediction {
    background-color: #808D92;
    border-radius: 5px;
}

.main-content {
    width: 100%;
    display: flex;
    text-align: center;
    border-top: 1px solid #808D92;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    margin-top: 10px;
}

.start-year, .end-year{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.side-container {
    padding: 10px;
    width: 270px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-date{
    width: 130px;
    position: relative;
    padding: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #000000;
}

.submit{
    background-color: #103A5E;
    color: #ebebeb;
    border-radius: 10px;
    cursor: pointer;
}

.button-satelit {
    display: flex;
    font-size: small;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.button-satelit span.active {
    background-color: #103A5E !important;
    color: white !important;
}

.button-satelit span {
    margin-top: 10px;
    background-color: #ebebeb;
    color: #103A5E;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}

.images-container {
    flex: 1;
    width: auto;
}

.titleResult{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.button-result {
    display: flex;
    font-size: small;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}

.button-result span.active {
    background-color: #103A5E !important;
    color: white !important;
}

.button-result span {
    background-color: #ebebeb;
    color: #103A5E;
    border-radius: 10px 10px 0px 0px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}