* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    padding: 12px;
    height: 20px;
    text-align: center;
}

.sidebar-content {
    display: flex;
    flex: 1;
}

.sidebar {
    background-color: #103A5E;
    color: white;
    padding: 10px;
    width: 270px;
}

.sidebar-group {
    display: flex;
    padding: 12px;
    column-gap: 10px;
    cursor: pointer;
}

#prediction {
    background-color: #808D92;
    border-radius: 5px;
}

.main-content {
    width: 100%;
    display: flex;
    text-align: center;
    border-top: 1px solid #808D92;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    margin-top: 10px;
}

.start-year, .end-year{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.side-container {
    padding: 10px;
    width: 270px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-menu{
    width: 130px;
    position: relative;
}

.select-menu .select-btn {
    display: flex;
    background: #fff;
    padding: 10px;
    font-weight: 350;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #000000;
}

.select-btn i{
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;

    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease;
    z-index: 999; /* supaya menimpa elemen lain */
}

.select-menu.active .options{
    display: block;
    max-height: 200px; /* atau sesuai jumlah item */
    overflow-y: auto;
}

.options .option{
    display: flex;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.options .option:hover{
    background: #F2F2F2;
}

.option .option-text{
    color: #000000;
}

.submit{
    background-color: #103A5E;
    color: #ebebeb;
    border-radius: 10px;
    cursor: pointer;
}

.button-satelit {
    display: flex;
    font-size: small;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.button-satelit span.active {
    background-color: #103A5E !important;
    color: white !important;
}

.button-satelit span {
    margin-top: 10px;
    background-color: #ebebeb;
    color: #103A5E;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}

.perubahan-daerah {
    margin-top: 10px;
}

#title {
    color: #103A5E;
    font-weight: 500;
}

.perubahan-group {
    margin-top: 10px;
    border: 1.5px solid black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: small;
}

#periode {
    font-weight: 600;
    color: #103A5E;
}